.about {
  background: #f4f4f4;
  text-align: center;
  padding: 70px 40px;
}

.about h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-text {
  max-width: 800px;
  margin: auto;
  font-size: 18px;
  color: black;
  line-height: 1.8;
  margin-bottom: 50px;
}

.about-gallery {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.about-gallery p{
  padding: 12px;
}

.about-img {
  width: 260px;
  height: 170px;
  border-radius: 10px;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
}

.about-img:hover img {
  transform: translateY(-8px);
}

.about-btn {
  background: rgb(245, 87, 87);
    color: #ffffff;
    padding: 14px 30px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-btn:hover {
  background:rgb(233, 6, 6);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .about-gallery {
    gap: 20px;
  }

  .about-img {
    width: 100%;
    max-width: 320px;
  }

  .about h2 {
    font-size: 30px;
  }
}
