* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NutritionPage {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("../assets/BeginnerBackground.jpeg");
  background-size: cover;
  background-position: center;
}

.NutritionTopContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.NutritionTopContainer h1 {
  text-align: center;
  color: rgb(245, 87, 87);
}

/* LEFT SIDE */
.NutritionContent {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 20px;
  margin-top: 30px;
}

.NutritionContent p {
  color: white;
  line-height: 1.5;
  gap: 2px;
}
.NutritionContent p span {
  margin-bottom: 20px;
}

/* RIGHT SIDE */
.NutritionImage {
  width: 50%;
  display: flex;
  margin: 40px;
}

.NutritionImages {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.NutritionImages .image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  animation: fade 0.8s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.Nutritionsubscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

/* SMALL BOXES */
.subcribeprotein,
.subcribecarbohydrate,
.subcribefat,
.subcribevitAndmin {
  width: 600px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  color: beige;
}

.subcribeprotein ul,
.subcribecarbohydrate ul,
.subcribefat ul,
.subcribevitAndmin ul {
  margin-top: 15px;
  padding-left: 10px;
}

.subcribeprotein li,
.subcribecarbohydrate li,
.subcribefat li,
.subcribevitAndmin li {
  list-style: none;
  padding-left: 0;
}

.subcribeproteinlist li::before,
.subcribecarbohydratelist li::before,
.subcribefatlist li::before,
.subcribevitAndminlist li::before {
  content: "◆";
  color: rgba(255, 47, 47, 0.8);
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
}

.Nutritioncontent h2 {
  color: white;
  padding-bottom: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  font-size: 1rem;
}

.Nutrition-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nutritionsubscribefirst,
.Nutritionsubscribesecond {
  display: flex;
  padding: 50px;
  min-height: 230px;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Nutritionsubscribefirst h2,
.Nutritionsubscribesecond h2 {
  text-align: center;
}

p {
  font-size: 1rem;
}

.subcribeprotein {
  background:
    linear-gradient(rgb(43, 41, 41, 0.8)), url("../assets/proteindetail.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.subcribecarbohydrate {
  background:
    linear-gradient(rgb(43, 41, 41, 0.8)),
    url("../assets/carbohydratedetail.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.subcribefat {
  background:
    linear-gradient(rgb(43, 41, 41, 0.8)), url("../assets/fatdetail.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.subcribevitAndmin {
  background:
    linear-gradient(rgb(43, 41, 41, 0.8)), url("../assets/vitAndmindetail.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}
