.ProgramCoverpage {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.ProgramCoverpage .contextArea {
  width: 40%;
  height: 60%;
  position: relative;
}

.ProgramCoverpage .FloatImage {
  width: 40%;
  height: 90%;
  position: relative;
}
.ProgramCoverpage .FloatImage img {
    width: 100%;
    height: 90vh;
}

.ProgramCoverpage .contextArea h2{
    font-size: 2rem;
    left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ProgramCoverpage .btn{
    background: rgb(245, 87, 87);
    color: #ffffff;
    padding: 14px 30px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    left: 10%;
    top: 60%;
    margin-top: 50px;
}
.ProgramCoverpage .contextArea p {
    top: 30%;
    left: 10%;
    font-size:large;
}
.ProgramCoverpage .contextArea-content p{
    top: 30%;
    left: 10%;
    font-size:medium;
}
.contextArea .contextArea-paraa {
    top: 30%;
    left: 10%;
    font-size: small;
}
.ProgramCoverpage span{
    color:rgb(233, 6, 6);
}
.ProgramCoverpage .energize{
    position: absolute;
    left: 5%;
    top: 85%;
    transform: rotate(360deg);
    animation: bttn 3s ease-in-out infinite ;
    color: white;
    background: linear-gradient(90deg, rgba(233, 6, 6,1), rgba(233, 6, 0.9),rgba(45, 3, 3, 0.9),rgba(45, 3, 3,1) );
    padding: 7px 50px;
    border-style: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
}
@keyframes bttn {
    0%{
        transform: translateY(-10px)
            
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
.ProgramCoverpage .unstoppable{
    position: absolute;
    left: 80%;
    top: 10%;
    
    animation: btn 3s ease-in-out infinite ;
    color: white;
    background: linear-gradient(90deg, rgba(233, 6, 6,1), rgba(233, 6, 0.9),rgba(45, 3, 3, 0.9),rgba(45, 3, 3,1) );
    padding: 7px 25px;
    border-style: none;
    border-radius: 20px;
    font-weight: bold;
}
@keyframes btn {
    0%{
        transform: rotate(45deg) translateY(-10px)
            
    }
    50%{
        transform: rotate(45deg) translateY(0px);
    }
    100%{
        transform: rotate(45deg) translateY(-10px);
    }
}