.services{
    margin-top: 100px;
}

.main-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.left {
    width: 90px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.left h6 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.dL1 {
    height: 70px;
    background-color: rgb(222, 243, 222);
    color: rgb(15, 67, 15);
}

.dL2 {
    height: 170px;
    background-color: rgb(222, 243, 222);
    color: rgb(15, 67, 15);
}

.dL3 {
    background-color: rgb(222, 243, 222);
    color: rgb(15, 67, 15);
}



.center-div {
    width: 100%;
    height: 100%;
    color: rgb(15, 67, 15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.dC1 {
    position: absolute;
    top: -100px;
    width: 100%;
    text-align: center;
}

.dC1 p {
    line-height: 1.5;
    font-size: 17px;
    color: rgb(15, 67, 15);
}

.dC2 {
    background-color: rgb(222, 243, 222);
    width: 100%;
    height: 70px;
}

.right-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.right {
    width: 90px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.right h6 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.dR3 {
    height: 70px;
    background-color: rgb(222, 243, 222);
    color: rgb(15, 67, 15);
}

.dR2 {
    height: 170px;
    background-color: rgb(222, 243, 222);
    color: rgb(15, 67, 15);
}

.dR1 {
    background-color: rgb(222, 243, 222);
    color: rgb(15, 67, 15);
}

.service-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceBtn {
    justify-content: center;
    align-items: center;
    text-align: center;

}



@media (max-width: 900px) {
  .main-div {
    display: none;
  }
}
