.service-details {
  background-color: #f3f3f3;
  padding: 80px 60px;
  margin-top: 40px;
}

.service-container {
  display: flex;
  height: 130vh;
  gap: 10px;
}

.right-cards {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.cardSD {
  background-color: #e9e9ec;
  padding: 40px;
  border-radius: 40px;
  position: relative;
  height: 50%;
}

.cardSD:hover {
  background: #2f8f52;
  color: white;
}

.cardSD:hover .icon-circleSD {
  background: white;
  color: #1f6b3a;
}

.left-card {
  height: 100%;
  flex: 1;
}

.icon-circleSD {
  width: 70px;
  height: 70px;
  background-color: green;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.cardSD h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 700;
}

.cardSD p {
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: justify;
  /* color: #333; */
}

.cardSD h4 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.cardSD ul {
  padding-left: 20px;
}

.cardSD ul li {
  margin-bottom: 8px;
  font-size: 12px;
  margin-top: 15px;
}


/*-------------------------------------------------------------*/


/* ================= FAQ ================= */

.faq-section {
  margin-top: 80px;
}

.faq-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.faq-container {
  max-width: 900px;
  margin: auto;
}

.faq-item {
  background: white;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.faq-item h4 {
  margin-bottom: 10px;
  color: #1f6b3a;
}



/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {

  .service-container {
    flex-direction: column;
  }

}