.services {
  margin-top: 100px;
}

.main-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.left {
  width: 90px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.left h6 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.dL1 {
  height: 70px;
  background-color: rgba(233, 6, 6, 0.3);
  color: black;
}

.dL2 {
  height: 170px;
  background-color: rgba(233, 6, 6, 0.3);
  color: black;
}

.dL3 {
  background-color: rgba(233, 6, 6, 0.3);
  color: black;
}

.center-div {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.dC1 {
  position: absolute;
  top: -100px;
  width: 100%;
  text-align: center;
}

.dC1 p {
  line-height: 1.5;
  font-size: 17px;
  color: black;
}

.dC2 {
  background-color: rgba(233, 6, 6, 0.3);
  width: 100%;
  height: 70px;
}

.right-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.right {
  width: 90px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.right h6 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.dR3 {
  height: 70px;
  background-color: rgba(233, 6, 6, 0.3);
  color: black;
}

.dR2 {
  height: 170px;
  background-color: rgba(233, 6, 6, 0.3);
  color: black;
}

.dR1 {
  background-color: rgba(233, 6, 6, 0.3);
  color: black;
}

.service-header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.service-btn-parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.service-btn {
  background-color: rgb(245, 87, 87);
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 30px;
  border: none;
  border-radius: 15px;
}

@media (max-width: 900px) {
  .main-div {
    display: none;
  }
}