.transformation {
    padding: 80px 10%;
    background: #f8f8f8;
    text-align: center;
}

.transformation h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.top-para{
    margin-bottom: 5px;
}

.transform-card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.transform-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;

}

.transform-card p {
    margin-top: 10px;
    font-size: 13px;
}

.transform-card h3 {
    padding: 28px;
}

.transform-card .before {
    color: red;
    margin-top: -30px;
    margin-bottom: 10px;
}

.transform-card .after {
    color: green;
}